.table-responsive .ant-table-thead .ant-table-cell {
  background: none !important;
}

.template-note {
  width: 100%;
  border: 1px solid #D5E5FC;
  border-radius: 5px;
  background-color: #F6F9FE;
  padding: 5px;
  margin-bottom: 5px;
}

._card {
  border-radius: 20px !important;
}
